<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>MyPayIndia Geriatric</string>
	<key>Description</key>
	<string>MyPayIndia Legacy² (iOS 3-6)</string>
	<key>Maintainer</key>
	<string>ibm_pc</string>
	<key>Author</key>
	<string>MyPayIndia &lt;devteam@mypayindia.com&gt;</string>
	<key>Section</key>
	<string>Applications</string>
	<key>Icon URL</key>
	<string>https://cydia.mypayindia.com/assets/MyPayIndia-Legacy.png</string>
	<key>DetailPage</key>
	<string>https://cydia.mypayindia.com/assets/HuhnWaschen.png</string>
</dict>
</plist>
