<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Unknown</string>
	<key>Description</key>
	<string>No Description</string>
	<key>Maintainer</key>
	<string>MyPayIndia</string>
	<key>Author</key>
	<string>MyPayIndia &lt;devteam@mypayindia.com&gt;</string>
	<key>Section</key>
	<string>Applications</string>
	<key>Icon URL</key>
	<string>https://example.com/icon.png</string>
	<key>DetailPage</key>
	<string>https://example.com/MyAppCydiaPage.html</string>
</dict>
</plist>
